Flask==3.0.0
Flask-CORS==4.0.0
Flask-Login==0.6.3
Werkzeug==3.0.1
pyodbc==5.0.1
SQLAlchemy==2.0.23
Flask-SQLAlchemy==3.1.1
reportlab==4.0.8
python-dotenv==1.0.0
marshmallow==3.20.1
APScheduler==3.10.4
Pillow==10.4.0
pytz==2023.3
